<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='login.css')}}">
</head>
<body>
    <a href="/login"><button class="bouton" id="bouton-retour">Connexion</button></a>
    <a href="/"><button class="bouton" id="bouton-retour">inscription</button></a>
    <div class="page-connexion">
        <form action="/login" method="post">
            <!--c'est le div page-->
            <div class="creer_une_page_html">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-input" required>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" class="form-input" required>
                <!--ici si il y a une erreur -->
                {% if error %}
                <!--alors on affiche l'erreur en rouge-->
                <p style="color: red;">{{ error }}</p>
                {% endif %} <!--fin de l'instruction-->
                <!--c'est le bouton se connecter-->
                <button class="bouton" id="button" type="submit">se connecter</button>
            </form>
        </div>
    </div>
</body>
</html>
